/* Body */
:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  /* --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7); */
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--slate-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Header */
.header {
  border-bottom: 1px solid var(--cornflower-color);
}
/* Navigation */
/* Logo */
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}
.header-logo-text {
  color: var(--navy-blue-color);
}
/* Navigation list */
.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--ocean-color);
  text-decoration: underline 2px var(--ocean-color);
}
/* Address */
.header-address {
  font-style: normal;
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean-color);
}
/* Main Page */
/* Hero */
.hero {
  background-color: var(--navy-blue-color);
}
.hero-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-btn {
  background-color: var(--iris-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean-color);
}
/* Features */
.features-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* What are we doing */
.whatdoing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}
/* Our team */
.team {
  background-color: var(--cloud-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}
.team-list-item {
  background-color: var(--white-color);
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* End Main Page */
/* Footer */
.footer {
  background-color: var(--navy-blue-color);
}
.footer-logo-text {
  color: var(--cloud-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
}
/* Portfolio */
.portfolio-btn {
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}
.portfolio-list-item {
  border: 1px solid var(--cornflower-color);
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* End Portfolio */
